<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^api(/|$) - [L]
  RewriteRule ^shop(/|$) - [L]
  RewriteRule ^bbs(/|$) - [L]
  RewriteRule ^data(/|$) - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
